<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ia.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.tornqvist.InfraArcana</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Infra Arcana</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>14.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2013.06.16</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.role-playing-games</string>
	<!-- <key>LSMinimumSystemVersionByArchitecture</key> -->
	<!-- <dict> -->
	<!-- 	<key>i386</key> -->
	<!-- 	<string>10.8</string> -->
	<!-- 	<key>x86_64</key> -->
	<!-- 	<string>10.8</string> -->
	<!-- </dict> -->
	<key>NSMainNibFile</key>
	<string>SDLMain</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2011-2013 Martin Tornqvist</string>
	<key>CFBundleGetInfoString</key>
	<string>Infra Arcana version 14.1, Copyright 2011-2013 Martin Tornqvist</string>
</dict>
</plist>
